<html >
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="hell.js">
  </script>
  <title>ioioioio</title>

</head>
<body ng-app="app" >
  <div ng-controller="MyCtrl as ctrl">
    <h1>text: {{ctrl.user.text}}</h1>
    <input type="text" ng-model="ctrl.user.text"/>

    <div ng-controller="MyCtrl1 as sub">
      <h1>text: {{ctrl.user.text}}</h1>
      <input type="text" ng-model="ctrl.user.text"/>
    </div>
  </div>
  <div>
  </div>


</body>


</html>
